# Gallup Cleaning Data

- V4
- Moved to Gallup data after brandwatch because I was able to gather Gallup polling data on a number of political questions fro 2015 to 2020
- However, Gallup data was aggregated at the month level

In [1]:
#import
import pandas as pd

In [13]:
#increase row output
pd.set_option('display.max_rows', 100)

In [2]:
#read in V4 text data
tokens = pd.read_csv('/floyd/home/Capstone/cap_notebooks/clean_text/master_data_set/monthly_tokens_2015-2020.csv')

In [21]:
tokens

,date,date.1,text_token,year,month,length
0,2015,3,"['answer', 'resounding', 'myriad', 'claim', 'e...",2015,3,109935
1,2015,4,"['editorial', 'board', 'usatoday', 'republican...",2015,4,173368
2,2015,5,"['figure', 'deal', 'global', 'climate', 'chang...",2015,5,162427
3,2015,6,"['second', 'half', '1960', 'boom', 'time', 'ni...",2015,6,202087
4,2015,7,"['instal', 'solar', 'panel', 'campus', 'compos...",2015,7,197572
5,2015,8,"['story', 'highlight', '""o\'malley""', 'abolish...",2015,8,215338
6,2015,9,"['photo', 'good', 'monday', 'morning', 'senato...",2015,9,369449
7,2015,10,"['el', 'enfriamiento', 'en', 'el', 'atlántico'...",2015,10,210134
8,2015,11,"['claire', 'vaye', 'watkins', 'gold', 'fame', ...",2015,11,261746
9,2015,12,"['white', 'house', 'monday', 'announce', 'chan...",2015,12,402983
10,2016,1,"['heat', 'wave', 'sort', 'north', 'pole', 'wee...",2016,1,281692
11,2016,2,"['laem', 'fa', 'pha', 'thailand', 'feb', '1', ...",2016,2,258910
12,2016,3,"['new', 'york', 'thomson', 'reuters', 'foundat...",2016,3,238975
13,2016,4,"['come', 'scary', 'prediction', 'carbon', 'dio...",2016,4,232392
14,2016,5,"['cnn', 'alaska', 'gov.', 'sarah', 'palin', 'm...",2016,5,236703
15,2016,6,"['recent', 'year', 'rise', 'greenhouse', 'gas'...",2016,6,203118
16,2016,7,"['andrew', 'ford', 'ken', 'serrano', 'alex', '...",2016,7,217953
17,2016,8,"['mr.', 'murdoch', '85', 'serve', 'bridge', 'f...",2016,8,235644
18,2016,9,"['benjamin', 'spillman', 'reno', 'nevada', 'ga...",2016,9,404148
19,2016,10,"['hillary', 'clinton', 'campaign', 'des', 'moi...",2016,10,317460
20,2016,11,"['以下是0111gmt报价', '合约', '最新', '变动', '涨跌%', '30日...",2016,11,458973
21,2016,12,"['bomb', 'train', 'hudson', 'boat', 'motoring'...",2016,12,389144
22,2017,1,"['get', 'repeal', 'obamacare', 'get', 'dump', ...",2017,1,501603
23,2017,2,"['overall', 'sense', 'continually', 'try', 'an...",2017,2,246193
24,2017,3,"['president', 'trump', 'currently', 'craft', '...",2017,3,371743
25,2017,4,"['judge', 'cancel', 'jury', 'award', 'dimock',...",2017,4,316667
26,2017,5,"['happy', 'day', 'donald', 'trump', 'ten', 'th...",2017,5,390593
27,2017,6,"['white', 'house', 'say', 'wednesday', 'presid...",2017,6,542819
28,2017,7,"['environmental', 'protection', 'agency', 'epa...",2017,7,360028
29,2017,8,"['apple', 'inc.', 'remove', 'dozen', 'virtual'...",2017,8,240108
30,2017,9,"['new', 'york', 'aug', '31', 'thomson', 'reute...",2017,9,295889
31,2017,10,"['reuters', 'u.s.', 'secretary', 'energy', 'ri...",2017,10,225142
32,2017,11,"['easy', 'ignore', 'recent', 'story', 'u.s.', ...",2017,11,218408
33,2017,12,"['moscow', 'relation', 'russia', 'united', 'st...",2017,12,241299
34,2018,1,"['frigid', 'temperature', 'expect', 'grip', 'u...",2018,1,274450
35,2018,2,"['london', 'thomson', 'reuters', 'foundation',...",2018,2,152970
36,2018,3,"['ms.', 'dooley', 'see', 'trump', 'administrat...",2018,3,213238
37,2018,4,"['ken', 'fisher', 'special', 'usa', 'today', '...",2018,4,220011
38,2018,5,"['french', 'president', 'emmanuel', 'macron', ...",2018,5,227626
39,2018,6,"['washington', 'reuters', 'scientist', 'detect...",2018,6,215083
40,2018,7,"['time', 'decade', 'ago', 'lampoon', 'quirky',...",2018,7,229596
41,2018,8,"['mexican', 'voter', 'elect', 'andrés', 'manue...",2018,8,289843
42,2018,9,"['urgency', 'spark', 'consecutive', 'year', 'd...",2018,9,249082
43,2018,10,"['gov.', 'jerry', 'brown', 'sunday', 'restore'...",2018,10,394805
44,2018,11,"['©', 'wolfgang', 'kaehler', 'lightrocket', 'g...",2018,11,370794
45,2018,12,"['cost', 'renewable', 'energy', 'world', 'reco...",2018,12,391348
46,2019,1,"['cnn', 'jair', 'bolsonaro', 'fue', 'investido...",2019,1,336353
47,2019,2,"['tuesday', 'medium', 'notice', 'intelligence'...",2019,2,415579
48,2019,3,"['senate', 'confirm', 'acting', 'administrator...",2019,3,54194
49,2019,9,"['cnn', 'democratic', 'presidential', 'candida...",2019,9,698932
50,2019,10,"['swedish', 'teenager', 'greta', 'thunberg', '...",2019,10,581083
51,2019,11,"['©', 'photo', 'ap', 'north', 'dakotas', 'wetl...",2019,11,733986
52,2019,12,"['©', 'laszlo', 'balogh', 'ap', 'shutterstock'...",2019,12,799118
53,2020,1,"['fire', 'continue', 'burn', 'control', 'austr...",2020,1,914711
54,2020,2,"['turn', 'sit', 'interview', 'kobe', 'bryant',...",2020,2,746171
55,2020,3,"['president', 'trump', 'cpac', 'speech', 'satu...",2020,3,450836
56,2020,4,"['alberta', 'premier', 'jason', 'kenney', 'spe...",2020,4,412979
57,2020,5,"['©', 'dreamstime', 'dreamstime', 'tns', 'nort...",2020,5,382084
58,2020,6,"['©', 'provide', 'manila', 'times', 'toronto',...",2020,6,355800
59,2020,7,"['©', 'getty', 'images', 'address', 'climate',...",2020,7,636928
60,2020,8,"['file', 'photo', 'natural', 'gas', 'transfer'...",2020,8,983602
61,2020,9,"['©', 'credit', 'cbsnew', 'trail-markers-newsl...",2020,9,1384605
62,2020,10,"['©', 'provide', 'cedar', 'rapids', 'kcrg', 't...",2020,10,148507

## Gallup Processing

In [31]:
#reading in gallup
gallup = pd.read_csv('/floyd/home/Capstone/cap_notebooks/Gallup/Satisifaction_with_US - Sheet1.csv')

In [32]:
#sort by date
gallup.sort_values('Date', inplace=True)

In [33]:
#converting date to datetime object
gallup['Date'] = pd.to_datetime(gallup['Date'])

In [39]:
#sort by date
gallup.sort_values('Date')

         Date         Date_Survey  Satisfied  Dissatisfied No opinion
70 2015-01-01        2015 Jan 5-8         32          66.0          1
69 2015-02-02       2015 Feb 8-11         32          67.0          2
68 2015-03-01        2015 Mar 5-8         31           NaN        NaN
67 2015-04-01       2015 Apr 9-12         28          70.0          1
66 2015-05-01       2015 May 6-10         26          72.0          2
65 2015-06-01        2015 Jun 2-7         28          71.0          1
64 2015-07-01       2015 Jul 8-12         30          68.0          2
63 2015-08-01        2015 Aug 5-9         26          72.0          1
62 2015-09-01       2015 Sep 9-13         29          70.0          1
61 2015-10-01       2015 Oct 7-11         25          72.0          3
60 2015-11-01        2015 Nov 4-8         27          71.0          2
59 2015-12-01        2015 Dec 2-6         20          79.0          1
58 2016-01-01       2016 Jan 6-10         23          76.0          1
57 2016-02-01        2016 Feb 3-7         27          71.0          1
56 2016-03-01        2016 Mar 2-6         27          71.0          2
55 2016-04-01       2016 Apr 6-10         26          71.0          3
54 2016-05-01        2016 May 4-8         28          69.0          3
53 2016-06-01        2016 Jun 1-5         29          69.0          2
52 2016-07-15      2016 Jul 13-17         17          82.0          2
51 2016-08-01        2016 Aug 3-7         27          72.0          1
50 2016-09-01       2016 Sep 7-11         29          70.0          1
49 2016-10-01        2016 Oct 5-9         28          70.0          2
48 2016-11-01        2016 Nov 1-6         37          62.0          1
47 2016-11-15       2016 Nov 9-13         27          70.0          3
46 2016-12-01       2016 Dec 7-11         27          71.0          2
45 2017-01-01        2017 Jan 4-8         26          72.0          2
44 2017-02-01        2017 Feb 1-5         30          68.0          2
43 2017-03-01        2017 Mar 1-5         29          69.0          3
42 2017-04-01        2017 Apr 5-9         32          66.0          2
41 2017-05-01        2017 May 3-7         31          66.0          3
40 2017-06-01       2017 Jun 7-11         24          73.0          3
39 2017-07-01        2017 Jul 5-9         27          71.0          3
38 2017-08-01        2017 Aug 2-6         28          70.0          2
37 2017-09-01       2017 Sep 6-10         25          73.0          2
36 2017-10-01       2017 Oct 5-11         21          75.0          3
35 2017-11-01        2017 Nov 2-8         25          72.0          3
34 2017-12-01       2017 Dec 4-11         29          67.0          4
33 2018-01-01        2018 Jan 2-7         29          69.0          2
32 2018-02-01       2018 Feb 1-10         36          63.0          2
31 2018-03-01        2018 Mar 1-8         28          68.0          4
30 2018-04-01       2018 Apr 2-11         29          69.0          2
29 2018-05-01       2018 May 1-10         37          62.0          2
28 2018-06-01       2018 Jun 1-13         38          60.0          2
27 2018-07-01       2018 Jul 1-11         35          62.0          2
26 2018-08-01       2018 Aug 1-12         36          63.0          1
25 2018-09-01       2018 Sep 4-12         37          61.0          2
24 2018-10-01       2018 Oct 1-10         38          59.0          3
23 2018-10-15      2018 Oct 15-28         33          65.0          2
22 2018-11-01       2018 Nov 1-11         35          62.0          3
21 2018-12-01       2018 Dec 3-12         31          66.0          3
20 2019-01-01       2019 Jan 2-10         26          72.0          2
19 2019-02-01       2019 Feb 1-10         29          69.0          2
18 2019-03-01       2019 Mar 1-10         33          65.0          2
17 2019-04-01        2019 Apr 1-9         31          67.0          2
16 2019-05-01       2019 May 1-12         36          63.0          1
15 2019-06-01       2019 Jun 3-16         32          66.0          1
14 2019-07-01       2019 Jul 1-12         36          62.0          2
13 2019-08-01       2019 Aug 1-14         32          67.0          1
12 2019-09-01       2019 Sep 3-15         33          66.0          1
11 2019-10-01       2019 Oct 1-13         28          70.0          2
10 2019-11-01       2019 Nov 1-14         35          64.0          1
9  2019-12-01       2019 Dec 2-15         36          62.0          1
8  2020-01-01       2020 Jan 2-15         41          58.0          1
7  2020-02-01       2020 Feb 3-16         45          55.0          *
6  2020-03-01       2020 Mar 2-13         42          57.0          1
5  2020-04-01       2020 Apr 1-14         30          68.0          2
4  2020-05-01       2020 May 1-13         32          66.0          2
3  2020-06-01   2020 May 28-Jun 4         20          78.0          2
2  2020-07-01       2020 Jul 1-23         13          86.0          1
1  2020-08-01  2020 Jul 30-Aug 12         13          84.0          3
0  2020-09-01  2020 Aug 31-Sep 13         14          85.0          2

In [41]:
#gallup.groupby(['Date']).mean()[3:]

In [51]:
gallup.sort_values('Date', inplace=True)

In [52]:
#dropping first three rows because out of text date range
gallup_short = gallup[3:]

In [56]:
#reset index
gallup_short.reset_index(drop=True, inplace=True)

In [57]:
#reviewing data
gallup_short

         Date         Date_Survey  Satisfied  Dissatisfied No opinion
0  2015-04-01       2015 Apr 9-12         28          70.0          1
1  2015-05-01       2015 May 6-10         26          72.0          2
2  2015-06-01        2015 Jun 2-7         28          71.0          1
3  2015-07-01       2015 Jul 8-12         30          68.0          2
4  2015-08-01        2015 Aug 5-9         26          72.0          1
5  2015-09-01       2015 Sep 9-13         29          70.0          1
6  2015-10-01       2015 Oct 7-11         25          72.0          3
7  2015-11-01        2015 Nov 4-8         27          71.0          2
8  2015-12-01        2015 Dec 2-6         20          79.0          1
9  2016-01-01       2016 Jan 6-10         23          76.0          1
10 2016-02-01        2016 Feb 3-7         27          71.0          1
11 2016-03-01        2016 Mar 2-6         27          71.0          2
12 2016-04-01       2016 Apr 6-10         26          71.0          3
13 2016-05-01        2016 May 4-8         28          69.0          3
14 2016-06-01        2016 Jun 1-5         29          69.0          2
15 2016-07-15      2016 Jul 13-17         17          82.0          2
16 2016-08-01        2016 Aug 3-7         27          72.0          1
17 2016-09-01       2016 Sep 7-11         29          70.0          1
18 2016-10-01        2016 Oct 5-9         28          70.0          2
19 2016-11-01        2016 Nov 1-6         37          62.0          1
20 2016-11-15       2016 Nov 9-13         27          70.0          3
21 2016-12-01       2016 Dec 7-11         27          71.0          2
22 2017-01-01        2017 Jan 4-8         26          72.0          2
23 2017-02-01        2017 Feb 1-5         30          68.0          2
24 2017-03-01        2017 Mar 1-5         29          69.0          3
25 2017-04-01        2017 Apr 5-9         32          66.0          2
26 2017-05-01        2017 May 3-7         31          66.0          3
27 2017-06-01       2017 Jun 7-11         24          73.0          3
28 2017-07-01        2017 Jul 5-9         27          71.0          3
29 2017-08-01        2017 Aug 2-6         28          70.0          2
30 2017-09-01       2017 Sep 6-10         25          73.0          2
31 2017-10-01       2017 Oct 5-11         21          75.0          3
32 2017-11-01        2017 Nov 2-8         25          72.0          3
33 2017-12-01       2017 Dec 4-11         29          67.0          4
34 2018-01-01        2018 Jan 2-7         29          69.0          2
35 2018-02-01       2018 Feb 1-10         36          63.0          2
36 2018-03-01        2018 Mar 1-8         28          68.0          4
37 2018-04-01       2018 Apr 2-11         29          69.0          2
38 2018-05-01       2018 May 1-10         37          62.0          2
39 2018-06-01       2018 Jun 1-13         38          60.0          2
40 2018-07-01       2018 Jul 1-11         35          62.0          2
41 2018-08-01       2018 Aug 1-12         36          63.0          1
42 2018-09-01       2018 Sep 4-12         37          61.0          2
43 2018-10-01       2018 Oct 1-10         38          59.0          3
44 2018-10-15      2018 Oct 15-28         33          65.0          2
45 2018-11-01       2018 Nov 1-11         35          62.0          3
46 2018-12-01       2018 Dec 3-12         31          66.0          3
47 2019-01-01       2019 Jan 2-10         26          72.0          2
48 2019-02-01       2019 Feb 1-10         29          69.0          2
49 2019-03-01       2019 Mar 1-10         33          65.0          2
50 2019-04-01        2019 Apr 1-9         31          67.0          2
51 2019-05-01       2019 May 1-12         36          63.0          1
52 2019-06-01       2019 Jun 3-16         32          66.0          1
53 2019-07-01       2019 Jul 1-12         36          62.0          2
54 2019-08-01       2019 Aug 1-14         32          67.0          1
55 2019-09-01       2019 Sep 3-15         33          66.0          1
56 2019-10-01       2019 Oct 1-13         28          70.0          2
57 2019-11-01       2019 Nov 1-14         35          64.0          1
58 2019-12-01       2019 Dec 2-15         36          62.0          1
59 2020-01-01       2020 Jan 2-15         41          58.0          1
60 2020-02-01       2020 Feb 3-16         45          55.0          *
61 2020-03-01       2020 Mar 2-13         42          57.0          1
62 2020-04-01       2020 Apr 1-14         30          68.0          2
63 2020-05-01       2020 May 1-13         32          66.0          2
64 2020-06-01   2020 May 28-Jun 4         20          78.0          2
65 2020-07-01       2020 Jul 1-23         13          86.0          1
66 2020-08-01  2020 Jul 30-Aug 12         13          84.0          3
67 2020-09-01  2020 Aug 31-Sep 13         14          85.0          2

In [58]:
#dropping rows 
gallup_short = gallup_short.drop([51, 52, 53, 54, 55])

In [65]:
gallup_short.drop([20, 44], inplace=True)

In [66]:
#merging text and gallup
tokens_target = pd.concat([tokens.reset_index(), gallup_short.reset_index()], axis=1)

In [62]:
tokens_target.head()

,index,date,date.1,text_token,year,month,length,index,Date,Date_Survey,Satisfied,Dissatisfied,No opinion
0,0.0,2015.0,3.0,"['answer', 'resounding', 'myriad', 'claim', 'e...",2015.0,3.0,109935.0,0,2015-04-01,2015 Apr 9-12,28,70.0,1
1,1.0,2015.0,4.0,"['editorial', 'board', 'usatoday', 'republican...",2015.0,4.0,173368.0,1,2015-05-01,2015 May 6-10,26,72.0,2
2,2.0,2015.0,5.0,"['figure', 'deal', 'global', 'climate', 'chang...",2015.0,5.0,162427.0,2,2015-06-01,2015 Jun 2-7,28,71.0,1
3,3.0,2015.0,6.0,"['second', 'half', '1960', 'boom', 'time', 'ni...",2015.0,6.0,202087.0,3,2015-07-01,2015 Jul 8-12,30,68.0,2
4,4.0,2015.0,7.0,"['instal', 'solar', 'panel', 'campus', 'compos...",2015.0,7.0,197572.0,4,2015-08-01,2015 Aug 5-9,26,72.0,1

In [67]:
#comparing dates
tokens_target[['date', 'date.1', 'Date']]

    date  date.1       Date
0   2015       3 2015-04-01
1   2015       4 2015-05-01
2   2015       5 2015-06-01
3   2015       6 2015-07-01
4   2015       7 2015-08-01
5   2015       8 2015-09-01
6   2015       9 2015-10-01
7   2015      10 2015-11-01
8   2015      11 2015-12-01
9   2015      12 2016-01-01
10  2016       1 2016-02-01
11  2016       2 2016-03-01
12  2016       3 2016-04-01
13  2016       4 2016-05-01
14  2016       5 2016-06-01
15  2016       6 2016-07-15
16  2016       7 2016-08-01
17  2016       8 2016-09-01
18  2016       9 2016-10-01
19  2016      10 2016-11-01
20  2016      11 2016-12-01
21  2016      12 2017-01-01
22  2017       1 2017-02-01
23  2017       2 2017-03-01
24  2017       3 2017-04-01
25  2017       4 2017-05-01
26  2017       5 2017-06-01
27  2017       6 2017-07-01
28  2017       7 2017-08-01
29  2017       8 2017-09-01
30  2017       9 2017-10-01
31  2017      10 2017-11-01
32  2017      11 2017-12-01
33  2017      12 2018-01-01
34  2018       1 2018-02-01
35  2018       2 2018-03-01
36  2018       3 2018-04-01
37  2018       4 2018-05-01
38  2018       5 2018-06-01
39  2018       6 2018-07-01
40  2018       7 2018-08-01
41  2018       8 2018-09-01
42  2018       9 2018-10-01
43  2018      10 2018-11-01
44  2018      11 2018-12-01
45  2018      12 2019-01-01
46  2019       1 2019-02-01
47  2019       2 2019-03-01
48  2019       3 2019-04-01
49  2019       9 2019-10-01
50  2019      10 2019-11-01
51  2019      11 2019-12-01
52  2019      12 2020-01-01
53  2020       1 2020-02-01
54  2020       2 2020-03-01
55  2020       3 2020-04-01
56  2020       4 2020-05-01
57  2020       5 2020-06-01
58  2020       6 2020-07-01
59  2020       7 2020-08-01
60  2020       8 2020-09-01

In [71]:
#checking distribution of target
len(tokens_target[tokens_target['Satisfied']>=29])

31

In [72]:
len(tokens_target[tokens_target['Satisfied']<29])

30

In [74]:
import numpy as np

In [75]:
#binarizing target
tokens_target['binary_satis'] = np.where(tokens_target['Satisfied']<29, 0, 1)

In [78]:
tokens_target['binary_satis'].sum()

31